version: "3"

services:
  personal-time-tracker:
    container_name: personal-time-tracker
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3001:3000
    volumes:
      - .env.local:/app/.env.local
